<h1>Documents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content Type</th>
      <th>File</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.title, document %></td>
        <td><%= document.content_type %></td>
        <td><%= link_to 'Download', document.file %></td>
        <td>
          <%= link_to 'Edit', edit_document_path(document) %> |
          <%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Document', new_document_path %>